@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Montserrat:wght@200&family=Orbitron&family=Poppins:wght@200;300;400&display=swap');


@media (min-width: 300px) and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    /* section one styling */

    .sectionOne .nav-list,
    .search-btn{
        display: none;
    }

    .sectionOne #showcase {
        display: none;
    }

    .sectionOne {
        background-image:  url('./assets/showimage.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 37.5rem;
        padding-left: 1.25rem;
        padding-top: 1rem;
        padding-right: 1rem;
        color: #3b59f7;

    }

    .sectionOne .navbar {
        display: flex;
    }

    .navbar img {
        width: 30%;
        height: 25%;
    }

    .navbar .mdi-menu {
        font-size: 1.5rem;
        color: #3b59f7;
        margin-left: 60%;
    }

    .sectionOne .showcase h1 {
        font-size: 3rem;
        height: 40%;
        width: 30%;
        padding-left: 1.25rem;
        font-weight: 700;
    }

    .sectionOne .showcase p {
        padding-left: 1.25rem;
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
        background-color: #000;
        opacity: .8;
    }

    .sectionOne .showcase button {
        margin-left: 1.25rem;
        height: 50px;
        width: 250px;
        background-color: transparent;
        border-radius: 10px;
        color: #fff;
        border: 2px solid #3b59f7;
        font-size: 1rem;

    }

    /* section two */

    .sectionTwo {
        height: 7rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .sectionTwo .image-box {
        margin-left: 15%;
    }

    .sectionTwo .image-box img{
        height: 50px;
        width: 70px;
        margin-left: 3%;
    }

    /* section three styling */

    .sectionThree {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .sectionThree h2 {
        margin-left: 20%;
        font-size: 1.5rem;
    }

    .sectionThree .ad-img img {
        width: 100%;
        height: 250px;
    }

    .ad-img .ad-post h3 {
        font-size: 1rem;
    }

    .ad-img .ad-post p {
        font-size: 14px;
        color: #a7aebb;
    }

    .ad-post button {
        height: 40px;
        width: 100px;
        outline: none;
        border-style: none;
        border-radius: 10px;
        background-color: #3b59f7;
        color: #fff;
    }

    /* section four */

    .sectionFour {
        padding-left: 2.5rem;
        padding-top: 4rem;
    }

    .sectionFour h2 {
        margin-left: 20%;
    }

    .sectionFour p {
        width: 90%;
        text-align: left;
        color: #a7aebb;
    }

    .sectionFour img {
        width: 100%;
        margin-left: -20px;
    }

    .sectionFour .Descr {
        padding-top: 2rem;
    }

    .Descr #search, #type, #comm, #pyt, #own {
        margin-top: 1rem;
    }

    .Descr div header {
        font-size: 1rem;
        font-weight: 700;
    }

    .Descr div text {
        font-size: 13px;
        color: #a7aebb;
        display: block;
        width: 230px;
    }

    /* section five styling */

    .sectionFive .feature_tag {
        display: flex;
        justify-content: space-between;
        padding: 1.25rem;
    }

    .feature_tag .feature_tab p{
        font-size: 1rem;
        font-weight: 700;
        color: #56d9fa;
    }

    .feature_tab h2 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #000;
    }

    .feature_tag button {
        width: 100px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: #cdd4e0;
        color: #3b5af7;
        outline: none;
        border-style: none;
        font-size: 14px;
        border-radius: 3px;
        padding-left: 10px;
        margin-top: 20px;
        opacity: .9;
    }

    .home-one, .home-two, .home-three {
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
    }

    .name-capt {
        display: flex;
        justify-content: space-between;
    }

    .name-capt img {
        height: 35px;
        width: 35px;
        padding-top: 20px;
    }

    .name-capt p,
    #price {
        font-weight: 700;
        font-size: 1.25rem;
    }

    #price {
        margin-top: -5px;
    }

    .location {
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        color: #cdd4e0;
        margin-top: -20px;
    }

    /* sectionSix */

    .sectionSix {
        padding: 1.25rem;
    }

    .testimony #test-header {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .testimony  img {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }

    .testimony #qoute-header {
        font-size: 1rem;
        font-weight: 500px;
    }

    .testimony #client-qoute {
        font-size: 14px;
        color: #cdd4e0;
    }

    .testimony #client-name {
        font-size: 14px;
        font-weight: 600;
    }

    .testimony #qoute {
        display: none;
    }

    /* section seven */

    .sectionSeven {
        padding: 1.25rem;
    }

    .sectionSeven > p {
        font-weight: 600;
        font-size: 1.3rem;
        color: #56d9fa;
    }

    .meet-tab {
        display: flex;
        justify-content: space-between;
    }

    .meet-tab h2 {
        font-size: 1rem;
        font-weight: 700;
        color: #56d9fa;
    }

    .meet-tab button {
        width: 100px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: #cdd4e0;
        color: #3b5af7;
        outline: none;
        border-style: none;
        font-size: 14px;
        border-radius: 3px;
        padding-left: 10px;
        margin-top: 10px;
        opacity: .9;
    }

    .agents #agent-one {
        background-image: url('https://images.pexels.com/photos/4427620/pexels-photo-4427620.jpeg?auto=compress&cs=tinysrgb&w=400');
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    .agents #agent-two {
        background-image: url('https://images.pexels.com/photos/7869699/pexels-photo-7869699.jpeg?auto=compress&cs=tinysrgb&w=400');
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    .agents #agent-three {
        background-image: url('https://images.pexels.com/photos/5668870/pexels-photo-5668870.jpeg?auto=compress&cs=tinysrgb&w=400');
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    .agents #agent-four {
        background-image: url('https://images.pexels.com/photos/8371721/pexels-photo-8371721.jpeg?auto=compress&cs=tinysrgb&w=400');
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    .agents {
        width: 100%;
    }

    .agents div {
        height: 280px;
        width: 100%;
        color: #fff;
        text-align: center;
        border-radius: 5px;
    }

    #agent-one h4, #agent-two h4, #agent-three h4, #agent-four h4{
        padding-top: 190px;
    }

    /* section eight */

    .sectionEight {
        padding: 1.25rem;
        margin: 1.25rem;
        background-color: #56d9fa;
        text-align: center;
        border-radius: 5px;
    }

    .email h2 {
        font-size: 1.2rem;
    }

    .email .email-sub input {
        width: 200px;
        height: 30px;
        background: transparent;
        color: #000;
        border-radius: 5px;
        outline: none;
        border: 1px solid #000;
        opacity: .9;
        padding: 5px;
        text-align: center;
    }

    .email .email-sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .email .email-sub button {
        height: 25px;
        width: 80px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        background: #fff;
        outline: none;
        border-style: none;
        border: 1px solid #000;
        color: #000;
        border-radius: 5px;
    }

    /* section nine */

    .sectionNine {
        background-color: #040922;
        color: #fff;
        padding: 1.25rem;
        font-size: 14px;
    }

  footer .footer-links {
      display: flex;
      flex-direction: column;
  }

  .footer-links ul a li{
    color: #fff;
    list-style: none;
  }

  .footer-links p {
      font-weight: 700;
  }
  .footer-links a {
    position: relative;
    left: -40px;
  }

}

@media (min-width: 601px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .sectionOne {
        padding: 2rem;
        background-color: #f4f5ff;
        height: 50rem;
    }

    .sectionOne .navbar .mdi-menu {
        display: none;
    }

    .sectionOne .navbar {
        display: flex;
    }

    .navbar img {
        width: 20%; 
        padding-left: 8rem;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
    }

    .navbar ul a li {
        list-style-type: none;
    }

    .navbar .nav-list a {
        text-decoration: none;
        margin-left: 4rem;
        font-size: 1rem;
        color: #a7aebb;
    }

    .navbar .nav-list a:hover {
        color: #8295f9;
    }

    .navbar .search-btn {
        margin-left: 4rem;
        margin-top: 2rem;
        height: 40px;
        width: 150px;
        background-color: #3b59f7;
        border-radius: 100px;
        text-align: center;
        padding-top: 10px;
        color:#fff;
        font-size: 1.24rem;
    }

    .sectionOne .showcase {
        margin-top: 10rem;
        display: flex;
        padding-left: 10rem;
    }

    .showcase h1 {
        font-size: 4rem;
        width: 550px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 2px;
        word-spacing: 10px;
    }

    .showcase p {
        margin-top: -20px;
        width: 450px;
        font-style: 1rem;
        color: #a7aebb;
        font-weight: 500;
    }

    .showcase button {
        width: 300px;
        height: 60px;
        font-size: 1.2rem;
        color: #fff;
        background-color: #3b59f7;
        border-style: none;
        border-radius: 100px;
        outline: none;
    }

    .showcase img {
        margin-top: -90px;
        height: 660px;
        width: 57%;
        margin-left: -65px;
    }

    .sectionTwo {
        height: 7rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        background-color: #fafafa;
    }

    .sectionTwo .image-box {
        margin-left: 90px;
        margin-top: 20px;
    }

    .sectionTwo .image-box img{
        height: 100px;
        width: 190px;
        padding-left: 60px;
    }
}